{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "google",
    "eslint-config-prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["eslint-plugin-prettier"],
  "rules": {
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "new-cap": 0,
    "require-jsdoc": 0,
    "camelcase": 0
  }
}
